@font-face {
    font-family: HelveticaNeueLight;
    src: url("../../WPI-Nav/resources/fonts/HelveticaNeue-Light.otf");
}

.root {
    -fx-font-family: HelveticaNeueLight;
    -fx-font-size: 20;
}

#dashboardButton  {
    -fx-background-color:#333;
    -fx-text-fill:#eee;
    -fx-padding: 8 8;
}

/*#dashboardButton:hover
{
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 5, 0.0 , 0 , 1 );
}*/

#dashboardButton:pressed
{
    -fx-effect:null;
}

#pinView {
    -fx-fill: #eeeeee;
}

/*#pinView:hover {
    -fx-fill: #ac2738;
}

#pinView:pressed {
    -fx-fill: #274abe;
    -fx-scale-x: 6%;
    -fx-scale-y: 6%;
}*/

#emailView {
    -fx-fill: #ac2738;
}

/*#emailView:hover {
    -fx-fill: #eeeeee;
}

#emailView:pressed {
    -fx-fill: #274abe;
    -fx-scale-x: 6%;
    -fx-scale-y: 6%;
}*/

.combo-box{
    -fx-font-family: HelveticaNeueLight;
    -fx-font-size: 12;
    -fx-padding: 0;
}
.combo-box .text-input
{
    -fx-background: #333;
    -fx-background-color: #333;
    -fx-border-width: 0;
    -fx-border-radius:0;
    -fx-border-color: #333;
    -fx-text-fill: #eee;
}
​
.combo-box-base
{
    -fx-background-color: #333333;
    -fx-border-radius: 0;
    -fx-border-color:#333333;
    -fx-mark-color: #333;
}

.combo-box-base:hover
{
    -fx-background-color: #888;
}

.combo-box-base > .arrow-button
{
    -fx-background-color: #333;
    -fx-border-radius: 0;
}

​
/*.combo-box .list-cell
{
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-text-color: #eee;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}
​
.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
​
.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-background-color: white;
}*/
​
/*.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}*/
​
/*.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}*/
​
    /*.combo-box-base
    {
        -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
        -fx-background-color: white, white, white, white;
        -fx-background-radius: 5, 5, 4, 3;
        -fx-background-insets: 0 0 -1 0, 0, 1, 2;
        -fx-padding: 0;
    }*/
​
/*.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}
​
.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
​
.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}*/
​


.combo-box-base:disabled {
    -fx-opacity: .4;
}

.list-cell
{
    -fx-font-family: HelveticaNeueLight;
    -fx-font-size: 14;
    -fx-padding: 5;
    -fx-text-fill:#333;
}

.list-cell:odd
{
    -fx-background-color:#eee;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.button
{
    -fx-background-color: #888;
}

.button:hover
{
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

#arrow-buttons:pressed
{
    -fx-background-color: #eee;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );

}

#text-field
{
    -fx-background-color:#333;
    -fx-text-fill:#eee;
    -fx-border-width:1;
    -fx-border-color:#eee;
    -fx-border-radius:3;
    -fx-padding:3 3;
    -fx-font-size:12;
}

#text-field-confirmed
{
-fx-background-color:#333;
    -fx-text-fill:#eee;
    -fx-border-width:1;
    -fx-border-color:green;
    -fx-border-radius:3;
    -fx-padding:3 3;
    -fx-font-size:12;}

#text-field-denied
{
-fx-background-color:#333;
    -fx-text-fill:#eee;
    -fx-border-width:1;
    -fx-border-color:red;
    -fx-border-radius:3;
    -fx-padding:3 3;
    -fx-font-size:12;
    }


#email-button{
    -fx-font-size:12;
    -fx-background-color:white;
    -fx-border-width:1;
    -fx-border-radius:2;
    -fx-border-color:#333;
    -fx-padding:5 5 5 5;
    -fx-effect:null;
}

#email-button:pressed #email-button:hover
{
    -fx-effect:null;
}

.popover
{
    -fx-pref-height:70 !important;
}

#arrow-buttons
{
    -fx-pref-height:26 !important;
    -fx-min-height:26 !important;
    -fx-max-height:26 !important;
    -fx-background-color:white;
    -fx-border-width:0;
    -fx-text-fill:#333;
}

#arrow-buttons:hover
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#arrow-buttons-grayed
{
    -fx-pref-height:26 !important;
    -fx-min-height:26 !important;
    -fx-max-height:26 !important;
    -fx-background-color:white;
    -fx-text-fill:#aaa;
    -fx-opacity:0.4;
}

#arrow-buttons-grayed:pressed
{
    -fx-background-color:white;
    -fx-effect:null;
}

#arrow-buttons-grayed2
{
    -fx-pref-height:26 !important;
    -fx-min-height:26 !important;
    -fx-max-height:26 !important;
    -fx-background-color:white;
    -fx-text-fill:#aaa;
}

#arrow-buttons-grayed2:pressed
{
    -fx-background-color:white;
    -fx-effect:null;
}

.list-view:focused
{
    -fx-effect:null;
    -fx-background-insets: 0 ;
}

.scroll-pane:focused
{
    -fx-effect:null;
    -fx-background-insets: 0 ;
}

#email-text-field
{
-fx-background-color:white;
    -fx-text-fill:#333;
    -fx-border-width:1;
    -fx-border-color:#333;
    -fx-border-radius:3;
    -fx-padding:3 3;
    -fx-font-size:12;
}

#email-text-field-confirmed
{
-fx-background-color:white;
    -fx-text-fill:#333;
    -fx-border-width:1;
    -fx-border-color:green;
    -fx-border-radius:3;
    -fx-padding:3 3;
    -fx-font-size:12;
}

#email-text-field-denied
{
-fx-background-color:white;
    -fx-text-fill:#333;
    -fx-border-width:1;
    -fx-border-color:red;
    -fx-border-radius:3;
    -fx-padding:3 3;
    -fx-font-size:12;
}

#popover-buttons
{
    -fx-background-color: white;
    -fx-max-width: 28 !important;
    -fx-min-width: 28 !important;
    -fx-max-height: 15 !important;
    -fx-font-size:10;
    -fx-border-width:1;
    -fx-border-color:#888888;
    -fx-border-radius:5;
}

#popover-buttons:pressed, #popover-buttons:focused
{
    -fx-border-color:#888888;
}

#popover-buttons:hover
{
    -fx-border-color:#aaaaaa;
}

.popover
{
    -fx-max-width: 95 !important;
    -fx-background-color: white;
    -fx-padding:0;
}

#popover-id
{
    -fx-min-height:95 !important;
    -fx-max-height:95 !important;
    -fx-max-width: 95 !important;
    -fx-background-color: white;
    -fx-padding:3 3 3 3;
}

#campus-button
{
    -fx-min-height: 27;
    -fx-max-height: 27;
    -fx-min-width:100;
    -fx-max-width: 100;
    -fx-font-size: 10;
    -fx-padding: 4 4 4 4;
    /*-fx-border-color: #888888;*/
    -fx-border-width: 0;
    -fx-border-radius:5;
    -fx-background-color: #eeeeee;
}

#campus-button:hover
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#campus-button:pressed
{
    -fx-effect:null;
}

#time-label
{
    -fx-font-size: 10;
}